.box {
    background: white;
    width: 30rem;
    height: 40rem;
    margin: 1rem auto;
    border-radius: .5rem;
    padding-top: 1rem;
}

.title {
    text-align: left;
    margin: 2rem;
    padding-top: 1rem;
    color: black;
    font-weight: 2px;
    display: inline;
    padding-right: 8rem;
}

.img {
    display: block;
    margin: 2rem;
    width: 25rem;
    height: 20rem;
}

.descriptionTitle {
    text-align: left;
    margin-left: 2rem;
    color: black;
    font-weight: 2px;
}

.ruler {
    height: 1px;
    border: 0;
    color: rgb(85, 84, 84);
    background-color: rgb(85, 84, 84);
    width: 90%;
}

.description {
    text-align: left;
    margin: 3rem;
    color: rgb(61, 60, 60);
    font-weight: 1px;
}

.dailyMenu {
    border: 2px solid red;
    background: red;
    border-radius: .5rem;
    display: inline;
    color: white;
}
